html {
    background: #cccccc;
}

body {
    margin: auto;
    padding: 1em;
    max-width: 44em;
    background: white;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 140%;
}

pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #111111;
    padding: 0.5em;
}

code {
    font-family: monospace;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
    color: #7a5ada;
}

h1, h2, h3, h4, h5 {
    font-family: verdana, serif;
    font-weight: bold;
    border-bottom: 1px dotted black;
    color: #7a5ada;
}

h1 {
    font-size: 130%;
}

h2 {
    font-size: 110%;
}

h3 {
    font-size: 95%;
}

h4 {
    font-size: 90%;
    font-style: italic;
}

h5 {
    font-size: 90%;
    font-style: italic;
}

h1.title {
    font-size: 200%;
    font-weight: bold;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: left;
    border: none;
}

dt code {
    font-weight: bold;
}

dd p {
    margin-top: 0;
}

#footer {
    padding-top: 1em;
    font-size: 70%;
    color: gray;
    text-align: center;
}

.author:before {
    content: "von ";
}

.date:before {
    content: "am ";
}

header p {
    font-size: 90%;
    margin-left: 1em;
}
